absl-py==0.7.0
astor==0.7.1
attrs==18.2.0
bbopt==0.3.2
decorator==4.3.2
fitipy==0.1.2
future==0.17.1
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
hyperopt==0.1.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
-e git+https://github.com/mycroftai/mycroft-precise@530f76bffb1339fd8c5988e04f3cc34095ad8b53#egg=mycroft_precise
networkx==1.11
numpy==1.16.0
pocketsphinx==0.1.15
portalocker==1.3.0
-e git+https://github.com/mycroftai/mycroft-precise@530f76bffb1339fd8c5988e04f3cc34095ad8b53#egg=precise_runner&subdirectory=runner
prettyparse==0.1.4
protobuf==3.6.1
PyAudio==0.2.11
pymongo==3.7.2
PyYAML==4.2b4
scikit-learn==0.20.2
scikit-optimize==0.5.2
scipy==1.2.0
six==1.12.0
sonopy==0.1.2
speechpy-fast==2.4
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
typing==3.6.6
wavio==0.0.4
Werkzeug==0.14.1
