absl-py==1.4.0
astor==0.8.1
attrs==23.1.0
cycler==0.11.0
decorator==5.1.1
fitipy==1.0.0
future==0.18.3
gast==0.4.0
grpcio==1.54.2
h5py==3.9.0
Keras
kiwisolver==1.4.4
Markdown==3.4.3
matplotlib==3.7.1
mock==5.0.2
numpy==1.23.5
pbr==5.11.1
pocketsphinx==5.0.1
portalocker==2.7.0
prettyparse==1.2.0
protobuf==4.23.3
PyAudio==0.2.13
pymongo==4.4.0
pyparsing==3.1.0
python-dateutil==2.8.2
PyYAML==6.0
scikit-learn==1.2.2
scikit-optimize==0.9.0
scipy==1.10.1
six==1.16.0
sonopy==0.1.2
speechpy-fast==2.4
tensorboard==2.12.3
tensorflow==2.12.0
termcolor==2.3.0
tqdm==4.65.0
typing==3.7.4.3
wavio==0.0.7
Werkzeug==2.3.6
