absl-py==0.7.1
astor==0.7.1
attrs==19.1.0
cycler==0.10.0
decorator==4.4.0
fitipy==0.1.2
future==0.17.1
gast==0.2.2
grpcio==1.19.0
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.1
matplotlib==3.0.3
mock==2.0.0
-e git+git@github.com:MycroftAI/mycroft-precise@37ef1ab91eeca81fd889bce2967775b2f6918d97#egg=mycroft_precise
numpy==1.16.2
pbr==5.1.3
pocketsphinx==0.1.15
portalocker==1.4.0
-e git+git@github.com:MycroftAI/mycroft-precise@37ef1ab91eeca81fd889bce2967775b2f6918d97#egg=precise_runner&subdirectory=runner
prettyparse==0.1.4
protobuf==3.7.1
PyAudio==0.2.11
pymongo==3.7.2
pyparsing==2.3.1
python-dateutil==2.8.0
PyYAML==5.1
scikit-learn==0.20.3
scikit-optimize==0.5.2
scipy==1.2.1
six==1.12.0
sonopy==0.1.2
speechpy-fast==2.4
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.31.1
typing==3.6.6
wavio==0.0.4
Werkzeug==0.15.3
